.container .jumbotron 
{
    margin-top:200px;
    border-radius:20px;
    background:#f2c937;
    color:#303030;
}
body 
{
    background:url('https://images.unsplash.com/photo-1515634928627-2a4e0dae3ddf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size:cover;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif;
}
a 
{
    margin-right:15px;
    background:#c4364e!important;
}
.mama 
{
    color:yellow !important; 
    text-align:center !important; 
    font-weight:bold !important; 
}
form 
{
    color:Yellow;
    margin-top:50px;
    padding:10px;
}
table 
{
    border:2px solid yellow;
    color:white;
    font-weight:bold;
    margin:auto;
    font-size:20px;
}
h1 
{
    text-align:center;
}
th 
{
    background:red;
    color:yellow;
}
td 
{
    padding:10px;
}